html {
  font: 12px/1.5 "Roboto", Arial, Helvetica, sans-serif;
}

@media (min-width: 600px) {
  html {
    font-size: 14px;
  }
}


@media (min-width: 1000px) {
    html {
      font-size: 16px;
    }
}

body,table, input{
    font:inherit;
}


a{
    color: #369;
}

h1,h2,h3,h4,h5,h6{
        font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        padding: 0;
        margin: 0 0 0.3em 0;
        line-height: 1.2;
}

h1{ font-size:2.8em;}
h2{ font-size:2.2em;}
h3{ font-size:1.8em;}
h4{ font-size:1.6em;}
h5{ font-size:1.2em;}
h6{ font-size:1.0em;}

p, ul, ol{
    padding-bottom: 1.5em;
}

ul,ol{
    padding-left: 1.6em;
}

li{
    list-style-position: outside;
}